#img1 {
    width: 60px;
    height: 60px;
    float:inline-start;
}

.line {
    border: 1px solid white;
    padding: 0px;
    width: 99%;
    display: flex;
}

ul li{
    display:inline;
    margin-right: 20px;
    
}
#dangnhap {
    margin-top: 10px;
    padding:10px;
    color:black;
    justify-content: end;
    font-size:16px;
    display:flex; 
    align-items: center;
}

#img2 {
    width:100%;
    background-size: cover;
    object-fit: cover;
}

